<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!-- Titulo -->
  <div class="row">
    <h1 class="text-light text-center w-100 mt-3">
      Gestion de {{ typeElement.name }}
    </h1>
  </div>  
  <!-- Combobox para cambiar de componentes -->
  <div class="form-group row col-4 mt-3">
    <label for="selectType" class="col-sm-5 col-form-label text-light">Tipo Elemento</label>
    <div class="col-sm-7">
      <select id="selectType" class="form-control" [(ngModel)]="typeElementPosition" (change)="updateComponentView()">
        <option *ngFor="let type of listTypeElement; let i = index" value="{{ i }}">{{ type.name }}</option>        
      </select>
    </div>
  </div>

  <app-store *ngIf="typeElement.id == 1"
    (filterInventoryByStore)="onChangeViewInventoryFilter($event)">

  </app-store>

  <app-providers *ngIf="typeElement.id == 2"
    (filterProductByProvider)="onChangeViewProductFilter($event)">

  </app-providers>

  <app-products *ngIf="typeElement.id == 3"
    [filterByProvider]="filterProductByProvider"> 

  </app-products>

  <app-inventory *ngIf="typeElement.id == 4"
    [filterByStore]="filterInventoryByStore">

  </app-inventory>
  
</div>

